@import "tailwindcss";
@import "@nuxt/ui";

@theme default {
  --color-done:  oklch(0.871 0.15 154.449);
	--color-inProgress: oklch(0.809 0.105 251.813) ;
	--color-todo: oklch(0.973 0.071 103.193);
}

h1 {
	@apply font-medium text-lg md:text-xl md:my-4;
}
h2{
	@apply font-medium;
}
ul{
	@apply list-disc list-inside space-y-1;
}
ol{
	@apply list-decimal list-inside space-y-1;
}