@import "tailwindcss";
@import "@nuxt/ui";

@theme default {
  --color-done: var(--color-success-300);
	--color-inprogress: var(--color-info-300) ;
	--color-todo: var(--color-warning-100);
}

h1 {
	@apply font-medium text-lg md:text-xl md:my-4;
}
h2{
	@apply font-medium;
}
ul{
	@apply list-disc list-inside;
}